@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<style>
    body {
        background-image: url("../../Content/images/Coffee_1.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
</style>
<div class="">
    <center><h2 id="indexheader" style="position:relative;top:150px">Date night MKE helps you plan your date so you can focus the big picture of getting to know the right person. </h2></center>
</div>
