@model cfab.Models.Date
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Date!</h2>


<script defer type="text/javascript">
    var restaurantType = @Html.Raw(Json.Encode(Model.RestaurantType));
    var restaurantType = @Html.Raw(Json.Encode(Model.RestaurantType));



</script>